body {
    background-color: #2e2e2e;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTAyL3Jhd3BpeGVsb2ZmaWNlMTJfY3V0ZV9kb2dfZHJlYW15X3dhbGxwYXBlcl9wbGF5aW5nX2NhcnRvb25faWxsdV8xNjAxNzE1OC04NTcyLTQyM2MtYTk0MS1hMmJhZTRkMzJiODJfMS5qcGc.jpg)  ; */
    /* Dette er en kommentar i CSS */
}
#container {
    background-color: red;
    width: 200px;
}
p.paragraphStyle {
    background-color: blue;
    border: 3px dotted black;
}
.buttons {
    /* color: white;
    background-color: lightslategray;
    border: none; */
    cursor: pointer;
}
.list {
    list-style:inside;
    /* display: flex;
    flex-direction: row; */
}
img {
    position:fixed;
    width: 200px;
    top: 20px;
    right: 20px;
}
